<div class="navbar-text">
    <div class="navbar_iothub_status">
    <span data-bind="attr: { title: iotHubStatus(), class: iotHubStatusClass() }, visible: showIotHubStatus()"><i class="fas fa-cloud-upload-alt"></i></span>
    </div>
</div>
