<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label">{{ _('IoT Hub Connection String') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.azureiothub.connection_string">
        </div>
    </div>
    <div class="control-group">
	    <label class="control-label">{{ _('Telemetry Interval In Seconds') }}</label>
        <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: settings.plugins.azureiothub.send_interval">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkboxDisplayRaspiTemp">
                <input type="checkbox" data-bind="checked: settings.plugins.azureiothub.display_status_icon"> Display Status Icon in NavBar
            </label>
        </div>
    </div>
</form>
